@import './_variables.scss';
@import './_mixins.scss';

.dashboardContainer {
    width: 100vw;    
    padding: $spacing-md;
    box-sizing: border-box;
    @include flex-column-center;
    min-height: 100vh;
    
    h1 {
        @include heading-large;
    }
}

.logoutButton {
    width: 80%;
    @include button-primary;
}

  