#map {
  height: 600px;
  width: 500px;
}

.map {
  height: 600px;
  width: 500px;
  margin: 20px;
}

form{
  display: flex; 
  flex-direction: column; 
  gap: 10px;
  margin-bottom: 20px;
  .submit {
    height: 120px;
    width: 120px;
    padding: .3rem;
    background-color: #007bff;
  }
}
